<%-include ('components/header.ejs') %>

<h1 class="cabecera">Baño</h1>

    <h2 class="categoria">Iluminacion</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/foco1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Foco</h5>
                <p class="card-text" id="Focobano">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>

    <h2 class="categoria">Elementos</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/ducha.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Regadera</h5>
                <p class="card-text" id="EstadoRegadera">Estado</p>
                <button class="btn btn-success" id="EncenderRegadera">Encender</button>
                <button class="btn btn-danger"  id="ApagarRegadera">Apagar</button>
            </div>
        </div>

        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/lavabo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lavamanos</h5>
                <p class="card-text" id="Focobano">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>

        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/wc.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">WC</h5>
                <p class="card-text" id="Focobano">🔴 Encendido</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>

    <%-include ('components/footerBaño.ejs') %>