<%-include ('components/header.ejs') %>

<h1 class="cabecera">Entrada</h1>

    <h2 class="categoria">Iluminacion</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/foco1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Interior</h5>
                <p class="card-text" id="Focoentrada">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>

        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/foco1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Exterior</h5>
                <p class="card-text" id="Focosala">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>

    </div>

    <h2 class="categoria">Puerta</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/puerta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Puerta</h5>
                <p class="card-text" id="Focoentrada">🔴 Cerrado</p>
                <button class="btn btn-success">Abierto</button>
                <button class="btn btn-danger">Cerrado</button>
            </div>
        </div>
    </div>
   

    <%-include ('components/footer.ejs') %>