<%-include ('components/header.ejs') %>

<h1 class="cabecera">Habitacion Padres</h1>

    <h2 class="categoria">Iluminacion</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/foco1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Foco 1</h5>
                <p class="card-text" id="HFSt">Estatus</p>
                <button class="btn btn-success" id="BEFH1">Encender</button>
                <button class="btn btn-danger" id="BAFH1">Apagar</button>
            </div>
        </div>
    </div>

    <h2 class="categoria">Contacto</h2>
    <div class="contenedor">
        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/enchufe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Contacto 1</h5>
                <p class="card-text" id="FocoHabitacionpadres">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>

        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/enchufe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Contacto 2</h5>
                <p class="card-text" id="FocoHabitacionpadres">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>

        <div class="card contenedor__tarjeta" style="width: 18rem;">
            <img src="../img/enchufe.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Contacto 3</h5>
                <p class="card-text" id="FocoHabitacionpadres">🔴 Apagado</p>
                <button class="btn btn-success">Encender</button>
                <button class="btn btn-danger">Apagar</button>
            </div>
        </div>
    </div>

    <%-include ('components/footer.ejs') %>