<%-include ('components/header.ejs') %>


<div class="contenedor">
    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/habitacion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Habitacion</h5>
            <p class="card-text">Controla las luces y contactos electricos de la habitacion.</p>
            <a href="/habitacionprincipal" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/habitacion extra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Habitacion extra</h5>
            <p class="card-text">Controla la iluminacion y aparatos electricos de la habitacion.</p>
            <a href="/habitacionextra" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/entrada.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Entrada</h5>
            <p class="card-text">Controla los focos interior y exterior, ademas de abrir y cerrar la puerta.</p>
            <a href="/entrada" class="btn btn-primary">Click aqui</a>
        </div>
    </div>
</div>


<div class="contenedor">
    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/sala.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sala</h5>
            <p class="card-text">Controla los focos y contactos electricos de la sala.</p>
            <a href="/sala" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/jardin.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jardin</h5>
            <p class="card-text">Controla el riego y la iluminacion del jardin.</p>
            <a href="/jardin" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/bano1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Baño</h5>
            <p class="card-text">Controla los focos y el uso del agua de la habitacion.</p>
            <a href="bano" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

</div>

<div class="contenedor">
    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/sensor.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sensores</h5>
            <p class="card-text">Administra la información otorgada por los sensores</p>
            <a href="/sensor" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/esta.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Estadisticas</h5>
            <p class="card-text">Estadisticas sobre el consumo del agua y luz</p>
            <a href="/#" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

    <div class="card contenedor__tarjeta" style="width: 18rem;">
        <img src="./img/sett.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Configuración</h5>
            <p class="card-text">Personaliza el nombre de las habitaciones y sus fotos</p>
            <a href="#" class="btn btn-primary">Click aqui</a>
        </div>
    </div>

</div>

<%-include ('components/footer.ejs') %>